/*
/.config/btop
/.config/cargo-dist
/.config/gh
/.config/git
/.config/github-copilot
/.config/htop
/.config/marimo
/.config/mise
/.config/neofetch
/.config/op
/.config/planetscale
/.config/rstudio
/.config/tabtab
/.config/uv
/.config/zed
/.config/zellij
/.config/configstore
/.config/bob
/.config/turborepo
/.config/arraylake
/.config/wandb
/.config/gcloud
/.config/fish
/.config/gws
/.config/ramp
/.config/middleman

/.config/jj/repos/

!/.claude/
/.claude/*
!/.claude/skills/
!/.config/
!/.gitignore
!/.tmux.conf
!/.zimrc
!/.zshenv
!/.zshrc

# Installed or skills to ignore
/.claude/skills/find-skills
/.claude/skills/gws-*
/.claude/skills/recipe-*
/.claude/skills/marimo-pair
/.claude/skills/grill-me
/.claude/skills/agent-browser
/.claude/skills/electron
/.claude/skills/skill-creator
/.claude/skills/dev-browser
